body
{
    color: rgb(44, 15, 44);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#container
{
    width: 50%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}